# Assignment no 3

## Q1.1:- Ans

In [5]:
def myreduce(num):
    num_list=list(range(1,number+1))
    sum_of_elements=0
    
    for i in num_list:
        sum_of_elements+=i
        
    return num_list,sum_of_elements

print("input")
number=int(input("please insert the number : "))

output_value=myreduce(number)

print("output:")
print("list of first n natural numbers are:",output_value[0])
print("sum of list element are :", output_value[1])

input
please insert the number : 45
output:
list of first n natural numbers are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45]
sum of list element are : 1035

## Q1.2:- Ans

In [7]:
print("input:")
number=int(input("please insert the number: "))
num_list=list(range(1,number+1))

def myfilter(num_list):
    num_even_list=[]
    num_odd_list=[]
    
    for i in num_list:
        if(i%5==0):
            if(i%2==0):
                num_even_list.append(i)
            else:
                num_odd_list.append(i)
    return num_even_list,num_odd_list

out_value=myfilter(num_list)

print("output:")
print("list of numbers:",num_list)
print("list of even numbers , which are multiples of 5 are :",out_value[0])
print("list of odd numbers ,which are multiples of are :",output_value[1])

input:
please insert the number: 20
output:
list of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
list of even numbers , which are multiples of 5 are : [10, 20]
list of odd numbers ,which are multiples of are : 1035

## Q 2:- Ans

In [10]:
word = "ineuron"
output_list=[w.upper()for w in list(word)]
print("output:")
print(output_list)

word_1=list('xyz')
word_2=[x*n for x in word_1 for n in range(1,5)]
print(word_2)

word_3=[x*n for n in range(1,5)for x in word_1]
print(word_3)

number=[2,3,4]
number_1=[[x+n]for x in number for n in range(0,3)]
print(number_1)

number_2=[2,3,4,5]
number_3=[[x+n for n in range(0,4)]for x in number_2]
print(number_3)

number_4=[1,2,3]
number_5=[(b,a)for a in number_4 for b in number_4]
print(number_5)

output:
['I', 'N', 'E', 'U', 'R', 'O', 'N']
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]
[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]